exec --no-startup-id source $HOME/.bashrc
exec --no-startup-id mako
exec --no-startup-id python3 $HOME/.config/sway/scripts/inactive-windows-transparency.py
exec --no-startup-id sh $HOME/.config/sway/snap-apps.sh
exec --no-startup-id rot8 -k

exec --no-startup-id python3 $HOME/.config/sway/scripts/fader.py

workspace 2
#	exec --no-startup-id firefox

workspace 1
	exec --no-startup-id $term
